<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Page</title>
</head>
<body>
    <h1>form data</h1>
    <form action="/set_cookie" method="post">
        <input type="text" name="nm" placeholder="enter name"/> <br>
        <input type="email" name="em" placeholder="enter email"/><br>
        <input type="number" name="mo" placeholder="enter mobile numer" /><br>
        <input type="submit" value="submit" />
    </form><br><br>
    <a href="/get_cookie">see get cookie</a>
</body>
</html>